 .wrapper {
	background-color: #f7f7f7;
	padding: 0 50px;
}
.page-content {
	background-color: white;
	padding-bottom: 50px;
}
.intro-para {
	font-size: 16px;
    padding: 60px 90px 30px 90px;
    letter-spacing: 0.3px;
    line-height: 1.8;
    text-align: justify;
    /* width: 660px; */
	h2 {
		font-size: 43px;
		padding-bottom: 20px;
		color: #0F253D;
		width: 650px;
	}
	strong {
		font-size: 18px;
	}
	a {
		color: #E1482E;
		font-size: 14px;
	}
}
.intro-paras {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0px 90px;
	line-height: 1.7;
	h4 {
		font-size: 14px;
		color: #E1482E;
		letter-spacing: 0.5px;
    &:hover {
      text-decoration: none;
      color: #E1482E;
    }
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
	}
	span {
		font-size: 12px;
		text-decoration: underline;
	}
}

.wwd-para {
  width: 300px;
}

.team-section {
	h3 {
		padding: 80px 0 30px 0;
		text-align: center;
	}
}
.team-members {
	display: flex;
	justify-content: center;
	align-content: center;
}
.team-member {
	margin: 20px 30px;
	width: 250px;
	line-height: 1.7;
	img {
		width: 250px;
	}
	h4 {
		font-size: 14px;
		color: #E1482E;
		letter-spacing: 0.5px;
		margin-bottom: 0;
	}
	h5 {
		font-size: 12px;
		text-align: justify;
		margin-top: 5px;
		margin-bottom: 0;
	}
	a:hover {
		text-decoration: none;
		color: #E1482E;
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
		margin-top: 14px;
	}
  i {
    font-size: 15px;
    &:hover {
      text-decoration: none;
      color: #E1482E;
    }
  }
}

.news-section {
	padding-bottom: 30px;
	h3 {
		padding: 80px 0 30px 90px;
		text-align: left;
	}
}
.news-paras {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0px 90px;
	line-height: 1.7;
	h4 {
		font-size: 14px;
		color: #E1482E;
		letter-spacing: 0.5px;
		margin: 0;
	}
	h5 {
		font-size: 12px;
		margin-top: 5px;
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
	}
	span {
		font-size: 12px;
		text-decoration: underline;
	}
}

.single-news {
  line-height: 1.7;
  padding: 0 90px;
  h4 {
    font-size: 14px;
    color: #E1482E;
    letter-spacing: 0.5px;
    margin: 0;
  }
  h5 {
    font-size: 12px;
    margin-top: 5px;
  }
  p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 6px;
  }
  span {
    font-size: 12px;
    text-decoration: underline;
  }
}

.news-item {
  padding: 10px 30px;
}

hr {
	margin: 0 0 7px 0;
}
@media only screen and (max-width: 1000px) {
	.page-content {
		flex-direction: column;
	}
	.intro-para {
		padding-top: 16px;
		padding-bottom: 30px;
		margin-right: 40px;
		width: auto;
		h2 {
			width: auto;
		}
	}
	.contact-details {
		margin: 10px 40px 40px 40px;
	}
}


