.wrapper {
	background-color: #f7f7f7;
	padding: 0 50px;
}
.page-content {
	background-color: white;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0;
}
.first-section {
	margin: 0;
}
.intro-para {
	font-size: 16px;
    padding: 60px 0px 30px 0px;
    letter-spacing: 0.3px;
    line-height: 1.8;
    text-align: justify;
    width: 1200px;
	h2 {
		font-size: 43px;
		padding-bottom: 20px;
		color: #0F253D;
		width: 650px;
	}
	strong {
		font-size: 18px;
	}
	a {
		color: #E1482E;
		font-size: 14px;
	}
}
.intro-paras {
	display: flex;
	justify-content: space-between;
	align-content: center;
	line-height: 1.7;
	width: 1200px;
	h4 {
		font-size: 14px;
		color: #E1482E;
		letter-spacing: 0.5px;
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
	}
	span {
		font-size: 12px;
		text-decoration: underline;
	}
}
.wwd-para {
  width: auto;
  margin-right: 40px;
}
.fa-chevron-circle-right:before {
	color: #E1482E;
	padding-left: 5px;
}
.team-section {
	h3 {
		padding: 80px 0 30px 0;
		text-align: center;
	}
}
.team-members {
	display: flex;
	justify-content: center;
	align-content: center;
}
.team-member {
	margin: 20px 30px;
	width: 280px;
	line-height: 1.7;
	img {
		width: 280px;
	}
	h4 {
		font-size: 18px;
		color: #E1482E;
		letter-spacing: 0.5px;
		margin-bottom: 0;
	}
	h5 {
		font-size: 12px;
		text-align: justify;
		margin-top: 5px;
		margin-bottom: 0;
	}
	a {
		font-size: 14px;
	}
	a:hover {
		text-decoration: none;
		color: #E1482E;
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
		margin-top: 14px;
	}
}
.fa-linkedin-square:before {
	color: grey;
	padding-left: 15px;
}
.news-section {
	padding-bottom: 30px;
	h3 {
		padding: 80px 0 30px 90px;
		text-align: left;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
}
.news-paras {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0px 90px;
	line-height: 1.7;
	h4 {
		font-size: 14px;
		color: #E1482E;
		letter-spacing: 0.5px;
		margin: 0;
	}
	h5 {
		font-size: 12px;
		margin-top: 5px;
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
	}
	span {
		font-size: 12px;
		text-decoration: underline;
	}
}
.single-news {
  line-height: 1.7;
  padding: 0 90px;
  h4 {
    font-size: 16px;
    color: #E1482E;
    letter-spacing: 0.5px;
    margin: 0;
  }
  h5 {
    font-size: 12px;
    margin-top: 5px;
  }
  p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 6px;
  }
  span {
    font-size: 12px;
    text-decoration: underline;
  }
}
.news-item {
  padding: 10px 30px;
}

hr {
	margin: 0 0 7px 0;
}
@media only screen and (max-width: 1519px) {
	.intro-para {
		width: 900px;
	}
	.intro-paras {
		width: 900px;
	}
}
@media only screen and (max-width: 1095px) {
	.page-content {
		flex-direction: column;
	}
	
	.contact-details {
		margin: 10px 40px 40px 40px;
	}
	.news-section h3 {
		padding-left: 60px;
	}
	.single-news {
		padding-left: 60px;
	}
}
@media only screen and (max-width: 920px) {
	.intro-paras {
		flex-direction: column;
	}
	.intro-para {
		padding-bottom: 24px;
	}
}
@media only screen and (max-width: 816px) {
	
	.page-content {
		padding: 0;
	}
	.team-section h3 {
    	padding: 80px 0 30px 60px;
    	text-align: left;
    	margin-top: 0;
    }
    .team-members {
	    flex-direction: column;
	    align-items: center;
	}
	.team-member {
		padding-right: 60px;
    	padding-left: 60px;
    	width: auto;
    	margin: 0;
    	padding-bottom: 44px;
    	p {
    		text-align: left;
    	}
    }
    .news-section h3 {
    	padding-right: 60px;
    	padding-left: 60px;
    	width: auto;
    	margin-top: 0;
    }
    .single-news {
    	padding-right: 60px;
    	padding-left: 60px;
    	width: auto;
    	p {
			text-align: left;
    	}
    }
}
@media only screen and (max-width: 528px) {
	.page-content {
    	padding-bottom: 0;
    }
    .intro-para {
		padding: 45px 30px;
	}
	.team-section h3 {
    	padding: 45px 30px;
    }
	.team-member {
		padding: 0 30px 30px 30px;
		width: auto;
    }
    .news-section h3 {
    	padding: 45px 30px;
    }
    .single-news {
    	padding-right: 30px;
    	padding-left: 30px;
    }
}
@media only screen and (max-width: 452px) {
  	.wrapper {
		padding: 20px;
	}
}





    

