.wrapper {
	background-color: #f7f7f7;
	padding: 0 50px;
}
.page-content {
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0;
	h3 {
		font-size: 24px;
		text-align: left;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	h4 {
		font-size: 14px;
		color: $red;
		letter-spacing: 0.5px;
		&:hover {
	      text-decoration: none;
	      color: $red;
	    }
	}
	p {
		font-size: 14px;
		text-align: justify;
		margin-bottom: 6px;
	}
	a {
		color: #061B33;
		font-size: 14px;
	}
	a:hover {
		text-decoration: none;
		color: $red;
	}
	hr {
		margin: 0 0 7px 0;
	}
	i {
      	font-size: 15px;
		padding-right: 10px;
	}
    i:hover {
      	text-decoration: none;
      	color: $red;
    }
}
.first-section {
	margin: 0;
}
.intro-section {
    padding: 10px 0px 30px 0px;
    line-height: 1.8;
    width: 1200px;
    h3 {
    	font-size: 23px;
    }
	h4 {
		padding-top: 15px;		
	}
}
//WHAT WE DO
.wwd-section {
	padding-bottom: 20px;
	h3 {
		text-align: center;
	}
}
.what-we-do {
	display: flex;
	justify-content: space-between;
	align-content: center;
	line-height: 1.7;
	width: 1200px;
	span {
		font-size: 12px;
		text-decoration: underline;
	}
}
.wwd-para {
  width: auto;
  margin-right: 40px;
}
.fa-chevron-circle-right:before {
	color: $red;
	padding-left: 5px;
}
//TEAM
.team-section {
	h3 {
		text-align: center;
	}
}
.team-members {
	display: flex;
	justify-content: center;
	align-content: center;
}
.team-member {
	margin: 20px 30px;
	width: 360px;
	line-height: 1.7;
	img {
		width: 280px;
	}
	h4 {
		font-size: 18px;
		color: $red;
		margin-bottom: 0;
	}
	h5 {
		padding-top: 0px;
		padding-bottom: 10px;
	}
  	.name {
    	display: flex;
  	}
}
.fa-linkedin-square {
	color: grey;
	padding-left: 15px;
}
.team-linkedin {
	margin-top: 15px;
}







// MOBILE 
@media only screen and (max-width: 1519px) {
	.intro-section {
		width: 900px;
	}
	.what-we-do {
		width: 900px;
	}
}
@media only screen and (max-width: 1095px) {
	.page-content {
		flex-direction: column;
	}
	.intro-section {
		width: 700px;
	}
	.what-we-do {
		width: 700px;
	}
	.contact-details {
		margin: 10px 40px 40px 40px;
	}
	.news-section h3 {
		padding-left: 60px;
	}
	.single-news {
		padding-left: 60px;
	}
}
@media only screen and (max-width: 955px) {
	.team-member {
		margin: 20px 30px;
		width: 300px;
	}
}
@media only screen and (max-width: 920px) {
	.what-we-do {
		flex-direction: column;
	}
	.intro-section {
		padding-bottom: 24px;
		width: auto;
		padding-right: 50px;
		padding-left: 50px;
		p {
			text-align: left;
		}
	}
	.what-we-do {
		width: auto;
		padding-right: 50px;
		padding-left: 50px;
		p {
			text-align: left;
		}
	}
}
@media only screen and (max-width: 816px) {
	.page-content {
		padding: 0;
	}
	.team-section h3 {
    	padding: 80px 0 30px 60px;
    	text-align: left;
    	margin-top: 0;
    }
    .team-members {
	    flex-direction: column;
	    align-items: center;
	}
	.team-member {
		padding-right: 60px;
    	padding-left: 60px;
    	width: auto;
    	margin: 0;
    	padding-bottom: 44px;
    	p {
    		text-align: left;
    	}
    }
    .news-section h3 {
    	padding-right: 60px;
    	padding-left: 60px;
    	width: auto;
    	margin-top: 0;
    }
    .single-news {
    	padding-right: 60px;
    	padding-left: 60px;
    	width: auto;
    	p {
			text-align: left;
    	}
    }
}
@media only screen and (max-width: 528px) {
	.page-content {
    	padding: 0;
    }
    .intro-section {
		padding: 45px 30px;
	    h3 {
	      margin-top: 0;
	      padding-top: 0;
	    }
	}
	.what-we-do {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 50px;
	}
	.team-section h3 {
    	padding: 45px 30px;
    }
	.team-member {
		padding: 0 30px 30px 30px;
		width: auto;
    }
    .news-section h3 {
    	padding: 45px 30px;
    }
    .single-news {
    	padding-right: 30px;
    	padding-left: 30px;
    }
}
@media only screen and (max-width: 452px) {
  	.wrapper {
		padding: 20px;
	}
}
@media only screen and (max-width: 367px){
	.wrapper {
		background-color: white;
	}
}





//NEWS 
//.news-section {
// 	padding-bottom: 30px;
// 	h3 {
// 		padding: 80px 0 30px 90px;
// 		text-align: left;
// 	}
// 	h4 {
// 		font-size: 18px;
// 	}
// 	h5 {
// 		font-size: 16px;
// 	}
// }
//.news-paras {
// 	display: flex;
// 	justify-content: space-between;
// 	align-content: center;
// 	padding: 0px 90px;
// 	line-height: 1.7;
// 	h4 {
// 		font-size: 14px;
// 		color: $red;
// 		letter-spacing: 0.5px;
// 		margin: 0;
// 	}
// 	h5 {
// 		font-size: 12px;
// 		margin-top: 5px;
// 	}
// 	span {
// 		font-size: 12px;
// 		text-decoration: underline;
// 	}
// }
// .single-news {
//   line-height: 1.7;
//   padding: 0 90px;
//   h4 {
//     font-size: 16px;
//     color: $red;
//     letter-spacing: 0.5px;
//     margin: 0;
//   }
//   h5 {
//     font-size: 12px;
//     margin-top: 5px;
//   }
//   p {
//     font-size: 14px;
//     text-align: justify;
//     margin-bottom: 6px;
//   }
//   span {
//     font-size: 12px;
//     text-decoration: underline;
//   }
// }
// .news-item {
//   padding: 10px 30px;
// }



