.terms-section {
    margin-top: 100px;
    padding: 0 50px;
    p {
      font-size: 15px;
    }
}
@media only screen and (max-width: 400px) {
  .terms-section {
    margin-top: 70px;
    padding: 0 20px;
  }
}