.whatwedo-section {
	background-color: white;
	padding: 130px 90px;
	
}
.whatwedo-paras {
	font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 1.8;
    text-align: justify;
    h5 {
    	color: #E1482E;
    	padding-top: 15px;
    }
}
.whatwedo-para {
	padding-top: 15px;
	p {
		padding-bottom: 60px;
	}
}