.whatwedo-section {
	background-color: white;
	padding: 130px 90px 0 90px;

}
.whatwedo-paras {
	font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.8;
  text-align: justify;
  h5 {
  	color: #E1482E;
  	padding-top: 15px;
  }
}
.whatwedo-para {
	padding-top: 15px;
	p {
		padding-bottom: 60px;
	}
}
#whatwedo-para-inve {
  padding-top: 100px;
}
#whatwedo-para-fund {
  padding-bottom: 100px;
}
#whatwedo-para-cond {
  padding-top: 100px;
}
.whatwedo-news {
	padding-bottom: 80px;
}
.whatwedo-line {
	margin-top: 20px;
	margin-bottom: 15px;
}
