.footer {
	background-color: #061B33;
	height: auto;
	padding: 50px 20px 20px 20px;
	p {
		color: white;
		font-size: 12px;
		font-weight: lighter;
	}
	a {
		color: white;
		font-weight: lighter;
		font-size: 12px;
	}
	a:hover {
		text-decoration: none;
		color: #E1482E;
	}
	.footer-top {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer-bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			padding-top: 10px;
			font-size: 10px;
			font-style: italic;
		}
	}
}
@media only screen and (max-width: 410px){
	.vertical_line {
		display: none;
	}
	.footer-top {
		flex-direction: column;
	}
}



