<div class="wrapper">
  <div class="page-content">
    <div class="terms-section">
      <h2><strong>Privacy notice</strong></h2>
      <br>
      <p>This notice describes how Portfolio Manager Consultancy Ltd. (PMCL) uses personal data. It outlines PMCL’s data protection obligations and your data protection rights under the regime introduced by the EU General Data Protection (Regulation 2016/679, the "General Data Protection Regulation").
      <br></br>
      The GDPR applies to “personal data” meaning any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier.
      <br></br>
      PMCL needs to use your personal data to provide its services to you, so this notice outlines the following points about the processing of your personal data:</p>
      <br> 
      <ul>
      <li><p>which data items are used, how they are used and with whom they are shared;</p></li>
      <li><p>why this is done and the lawful basis;</p></li>
      <li><p>your rights and PMCL’s obligations.</p></li>
      </ul>
      <br>
      <strong>Why PMCL needs to process personal data</strong>
      <br></br>
      <p>Your data is collected to effectively and properly manage your account(s) with us. Data is stored for specific purposes and only data that is relevant to that purpose will be stored. We will use the Data for several different purposes, including;
      <br></br>
      to provide consultancy services and to carry out obligations arising from any agreements entered into between you and PMCL;<br>
      to provide you with information, products or services that you request from us (including through our website) or which we feel may interest you, where you have consented to be contacted for such purposes;<br>
      to make our procedures more efficient, to implement security measures and to combat fraud and other crimes;<br>
      to competent authorities (including tax authorities), courts and bodies as required by law or requested or to affiliates for internal investigations and reporting and<br>
      to notify you about changes to our products and services and your investments.
      <br></br>
      If at any time you wish to be removed from marketing mailing lists or for any limits to be applied with respect to marketing materials received by you, please let us know. You can do this by e-mailing us at info@pmclconsulting.com.</p>
      <br>
      <strong>Data Collection</strong>
      <br></br>
      <p>
      PMCL may collect data:
      <br></br>
      <ul>
      <li><p>when you or an agent of yours contacts PMCL in relation to business and services offered;</li>
      <li><p>when you complete documents or forms during the course of business with PMCL;</li>
      <li><p>from Service Providers and other third parties that assist us in conducting business;</li>
      <li><p>when you telephone PMCL; and</li>
      <li><p>when you use the PMCL website or online services.</li>
      </ul></p>
      <br>
      <strong>Data Storage</strong>
      <br></br>
      <p>PMCL stores your data on physical and electronic media. Data is safeguarded by PMCL and its Service Providers by maintaining physical and electronic security controls that are designed to comply with applicable legal standards.
      <br></br>
      The Data that is collected or held in relation to you may be transferred to, and stored at, a destination outside the European Economic Area (“EEA”). It may also be processed by staff operating outside the EEA who works for us or for one of our Service Providers. In some cases, the laws of the destination country may not provide the same level of data protection as countries within the EEA. However, all Data wherever they are held by PMCL will be afforded a high level of protection against any unauthorised or accidental disclosure, access or deletion. By submitting your Data you agree to this transfer, storing or processing.
      <br></br>
      Unfortunately, the transmission of information via the internet is not completely secure. Although PMCL will do its best to protect your Data, we cannot guarantee the security of your Data transmitted electronically. Any such transmission is at your own risk.
      </p>
      <br>
      <strong>Types of data that might be collected</strong>
      <br></br>
      <p>During PMCL’s relationship with you, PMCL will collect and process Data about you, including:
      <br></br>
      <ul>
      <li><p>information which individuals and entities provide when contacting us (including through using this website) (such as their names, postal addresses, telephone numbers, identification documents and e-mail addresses);</li>
      <li><p>corporate information;</li>
      <li><p>details of services provided to you;</li>
      </ul></p>
      <br>
      <strong>Data sharing</strong>
      <br></br>
      <p>PMCL uses Service Providers to conduct aspects of its business, so information may be disclosed to them and their affiliates Data that you have provided in order to fulfil the purposes for which the Data is held. These Service Providers may disclose such Data to each other and to each other’s affiliates in order to achieve the same purposes.
      <br></br>
      PMCL and its Service Providers may also be required to disclose your Data to governmental agencies, self-regulatory organisations, industry associations and similar bodies in order to fulfil legal and regulatory requirements. In addition, the laws of certain countries and states give people involved in lawsuits and other legal proceedings the right under certain circumstances to obtain information from PMCL and its Service Providers, including your Data. PMCL and its Service Providers will comply with these laws to the extent required.
      <br></br>
      PMCL will not sell your Data to any third party. Wherever possible, Service Providers are required to enter into confidentiality agreements that prohibit them from selling or improperly using your Data.</p>
      <br>
      <strong>Data retention</strong>
      <br></br>
      <p>PMCL will retain your personal information for a period of up to seven years following the point where the business relationship has ceased.
      <br></br>
      It may be necessary to retain your personal information beyond this period depending on additional legal/regulatory obligations. Thereafter, PMCL will refrain from collecting any further personal information on you and shall take appropriate steps to dispose of any records containing your personal information to the extent this is operationally feasible and proportionate.</p>
      <br>
      <strong>Cookies</strong>
      <br></br>
      <p>PMCL does use cookies on its website.
      <br></br>
      Your personal data is not currently collected by PMCL using cookies. Further details are available in our cookie policy.</p>
      <br>
      <strong>Lawful basis for processing</strong>
      <br></br>
      <p>PMCL assesses all personal data that is collected or stored to ensure that there is a legal basis for each type of data under GDPR. Given that PMCL is an appointed representative of a FCA regulated firm (Thornbridge Investment Management), the majority of lawful basis for PMCL’s processing is to meet its obligations to the FCA (legal obligation basis) or to fulfil its obligations to you under contract (contract basis).
      <br></br>
      Other lawful basis may be used where PMCL assesses this is necessary and appropriate.</p>
      <br>
      <strong>Data subject rights</strong>
      <br></br>
      <p>You have the following rights, in certain circumstances, in relation to your personal information:
      <br></br>
      <ul>
      <li><p>Right to access your personal information (in an easily readable form);</li>
      <li><p>Right to rectify your personal information;</li>
      <li><p>Right to restrict the use of your personal information (in certain specific circumstances);</li>
      <li><p>Right to request that your personal information is erased (in certain specific circumstances).</li>
      <li><p>Please note that the right for your data to be erased (the "right to be forgotten") that applies in some contexts under the General Data Protection Regulation is not likely to be applicable to most, if not all, of the personal information you provide to PMCL, given the specific nature of the purposes for which PMCL uses the data, as described above;</li>
      <li><p>Right to object to processing of your personal information (in certain specific circumstances);</li>`
      <li><p>Right to data portability (in certain specific circumstances);</li>
      <li><p>Right to withdraw consent (in certain specific circumstances); and</li>
      <li><p>Right to receive information regarding any entities we disclose your data to.</li>
      </ul>
      <br></br>
      Where PMCL or its Service Provider(s) requires your personal information to comply with AML or other legal requirements, failure to provide this information means PMCL will not be able to accept you as a client or investor.
      <br></br>
      PMCL shall notify you of any personal information breach affecting you that is likely to result in a high risk to your rights and freedoms.</p>
      <br>
      <strong>Changes to this notice</strong>
      <br></br>
      <p>PMCL will need to update its privacy notice in response to regulatory requirements or changes to its business. The latest notice will always be available on the PMCL website (www.pmclconsulting.com).</p>
      <br>
      <strong>How to contact PMCL</strong>
      <br></br>
      <p>Under the GDPR, data subjects can make a complaint to the supervisory authority including the Member State in which they reside or work or the place of the alleged infringement.
      <br></br>
      If you have any questions or concerns about personal data or this privacy policy or you wish to make a complaint about how PMCL has processed your personal data, please contact PMCL by writing to info@pmclconsulting.com or by post at the following address:
      <br></br>

      Portfolio Manager Consultancy Ltd.<br>
      Woodwater House, Pynes Hill<br>
      Exeter, Devon<br>
      United Kingdom<br>
      EX2 5WR
      <br></br>

      Portfolio Manager Consultancy Ltd.
      25th May 2018</p>
      <br>
      <h3>Cookies</h3>
      <br>
      <strong>About cookies</strong>
      <br></br>
      <p>Our website uses cookies. You consent to our use of cookies in accordance with the terms of this policy.
      <br></br>
      Cookies consist of small files, often including unique identifiers, that are sent by web servers to web browsers, and which may then be sent back to the server each time the browser requests a page from the server.
      <br></br>
      Cookies can be used by web servers to identity and track users as they navigate different pages on a website and to identify users returning to a website.
      <br></br>
      Cookies may be either “persistent” cookies or “session” cookies. A persistent cookie consists of a text file sent by a web server to a web browser, which will be stored by the browser and will remain valid until its set expiry date (unless deleted by the user before the expiry date). A session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>
      <br>
      <strong>Cookies on this website</strong>
      <br></br>
     <p>We use both session cookies and persistent cookies on this website.</p>
      <br>
      <strong>How we use cookies</strong>
      <br></br>
      <p>Cookies do not contain any information that personally identifies you, but personal information that we store about you may be linked, by us, to the information stored in and obtained from cookies.
      <br></br>
      We may use the information we obtain from your use of our cookies for the following purposes:
      <br></br>
      <ul>
      <li><p>to recognise your computer when you visit our website;</li>
      <li><p>to track you as you navigate our website, and to enable the use of the some of the features on our website;</li> 
      <li><p>to improve the website’s usability;</li>
      <li><p>to analyse the use of our website;</li>
      <li><p>in the administration of this website;</li>
      <li><p>to personalise content on our website for you.</li>
      </ul>
      <br>
      <strong>Third party cookies</strong>
      <br></br>
      <p>When you use our website, you may also be sent third party cookies. We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users’ computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Google’s privacy policy is available at: http://www.google.com/privacypolicy.html.</p>
      <br>
      <strong>Blocking cookies</strong>
      <br></br>
      <p>Most browsers allow you to refuse to accept cookies. For example:
      <br></br>
      <ul>
      <li><p>in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector;</li>
      <li><p>in Firefox you can block all cookies by clicking “Tools”, “Options”, and un-checking “Accept cookies from sites” in the “Privacy” box.</li>
      </ul>
      <br>
      Blocking all cookies will, however, have a negative impact upon the usability of many websites. If you block cookies, you will not be able to use many of the features of this website.</p>
      <br>
      <strong>Deleting cookies</strong>
      <br></br>
      <p>You can also delete cookies already stored on your computer. The method of doing so will depend upon your web browser. Instructions are available at the following URLs.
      <br></br>
      <ul>
      <li><p>Internet Explorer: http://support.microsoft.com/kb/278835</li>
      <li><p>Firefox: http://support.mozilla.com/en-US/kb/Deleting%20cookies</li>
      <li><p>Chrome: http://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647</li>
      <li><p>Opera: http://help.opera.com/opera/Mac/2308/en/controlPages.html#manageCookies</li>
      <li><p>Safari: https://support.apple.com/kb/PH21411</li>
      </ul>
      </p>
    </div>
  </div>
</div>

