<div class="wrapper">
  <div class="page-content">
    <div class="terms-section">
      <h2>Terms of Use</h2>
      <br></br>
      <p>The contents of this website are communicated by, and the property of, Portfolio Manager Consultancy Ltd. Portfolio Manager Consultancy Ltd is an appointed representative of Thornbridge Investment Management LLP which is authorised and regulated by the Financial Conduct Authority (“FCA”).  
      <br></br>
      <strong>Products and Services</strong>
      <br></br>
      The information contained herein is current at the date of publication, but is subject to change without notice. Portfolio Manager Consultancy Ltd has expressed its own views and opinions on this website, and these may change without notice. This website is not directed at you if Portfolio Manager Consultancy Ltd is prohibited by any law of any jurisdiction from making the information on this site available to you and is not intended for any use that would be contrary to local law or regulation. None of the information contained on this website is intended to constitute any offer to sell or an invitation or solicitation of an offer to buy any product or service by Portfolio Manager Consultancy Ltd and must not be relied upon in connection with any investment decision. Products or services mentioned on this site are subject to legal and regulatory requirements in applicable jurisdictions and may not be available in all jurisdictions. Accordingly persons are required to inform themselves of and observe any such restrictions. Nothing in this website should be construed as investment, tax, legal or other advice.
      <br></br>
      <strong>Risk Warning</strong>
      <br></br>
      Past performance is not necessarily a guide to future performance. The value of investments and the income of any financial instruments mentioned in the website may fall as well as rise, and investors may get back less than the amount originally invested. Fluctuations in exchange rates may have a positive or an adverse effect on the value of foreign-currency denominated securities and financial instruments. Certain investments involve an above-average degree of risk and should be seen as long-term in nature. The investment products and services described in the website may have tax consequences. Any tax reliefs referred to are those currently available and their value depends on the circumstances of the individual investor. You acknowledge that levels and bases of taxation may change, and that Portfolio Manager Consultancy Ltd does not provides tax advice. You should consult your own tax advisor in order to understand the tax consequences of the products and services described in the website.
      <br></br>
      <strong>Copyright</strong>
      <br></br>
      The copyright and all other rights in all of the material on this website are owned by Portfolio Manager Consultancy Ltd or the material is included with the permission of the rights owner. The information contained in this website is intended solely for the use of the person who has accessed this information and may not be reproduced, distributed or published to any other person. You may copy material on this website for your own private or domestic use only. All other copying is prohibited.
      <br></br>
      <strong>Links to other websites</strong>
      <br></br>
      On this website you may be offered automatic links to other non-Portfolio Manager Consultancy Ltd websites. These links are provided only as convenience. Portfolio Manager Consultancy Ltd does not accept any responsibility for the content of those websites or your use or inability to use such websites, the owners of which do not necessarily have any link, commercial or otherwise, with Portfolio Manager Consultancy Ltd. The inclusion of any link does not imply affiliation, sponsorship, endorsement, verification or monitoring or approval by Portfolio Manager Consultancy Ltd of any information contained in any non-Portfolio Manager Consultancy Ltd website. You should also be aware that the terms and conditions of such website and the website’s statement relating to the collection and use of your personal information may be different from those applicable to your use of this website.
      <br></br>
      <strong>Disclaimer</strong>
      <br></br>
      It is the responsibility of the individual user to consider his or her legal and regulatory position in the relevant jurisdiction, the risks associated with trading such products and to ensure that the use of the content and the subsequent making of any investment does not contravene any such restrictions or applicable laws and regulations of any jurisdiction. Please seek the advice of professionals, as appropriate, regarding the evaluation of any specific security, index, report, opinion, advice or other content. This does not exclude or restrict any duty or liability that Portfolio Manager Consultancy Ltd has to its clients under the Financial Services and Markets Act 2000 (as amended from time to time) or any other regulatory system under the laws of applicable jurisdictions.
      <br></br>
      Portfolio Manager Consultancy Ltd, its subsidiaries, associated entities, directors, employees, representatives or suppliers will not be liable, on any grounds whatsoever, contractually or not, for any direct or indirect damage that may arise as the result of it being possible or impossible to gain access to this site, the accessing, visiting or use of this site and/or the information provided, the sending, or receiving of information via this site and/or the operation or non-operation of this site, except in the event of intentional or serious blame on its part. The information contained on this site, including any third party data is published in good faith and Portfolio Manager Consultancy Ltd believes that the information is accurate at the time of publication but no representation or warranty, express or implied, is made by Portfolio Manager Consultancy Ltd as to its accuracy or completeness and it should not be relied on as such.
      <br></br>
      Portfolio Manager Consultancy Ltd shall therefore have no liability, save for any liability that Portfolio Manager Consultancy Ltd may have under the UK Financial Services and Markets Act 2000, for any loss or damage arising out of the use or reliance on the information provided including without limitation, any loss of profit or any other damage, direct or consequential. Nor will Portfolio Manager Consultancy Ltd, its subsidiaries, associated entities, directors, employees, representatives or suppliers be, under any circumstances, liable for any corruption of data that may occur as the result of technical problems (e.g. transmission errors, technical failures, breakdowns, intervention of third parties, etc.) and/or for any damage or loss relating to software or hardware that is the result of any virus, defect or malfunction in relation to access or use of the site.
      <br></br>
      <strong>I certify that I am not a US person. Portfolio Manager Consultancy Ltd is not registered as an investment advisor with the SEC and therefore this website is neither directed at nor intended for US investors.</strong>
      </p>
    <br></br>
    </div>
  </div>
</div>

