<div class="wrapper">
  <div class="page-content">
    <div class="terms-section">
      <h2>Terms of Use</h2>
      <br></br>
      <p>Welcome to www.pmclconsulting.com (the "Website"). By using the Website you agree to be bound by the disclaimers and terms of use set out on this page.<br></br>
      The Website is provided by Portfolio Manager Consultancy Ltd., a company incorporated in England with company number 10777184 and a registered office at Woodwater House, Pynes Hill, Exeter  EX2 5WR<br></br>
      The information provided on the website is intended for professional clients only, not to be distributed to or relied upon by retail clients. Portfolio Manager Consultancy Ltd. shall not provide, and clients shall not request the provision of, any regulated activities within the meaning of the Financial Services and Markets Act 2000 (Regulated Activities) Order 2001.<br></br>
​       The information on this site is for general information purposes only and does not claim to be comprehensive or provide legal or other advice. It is not an offer or a solicitation to conduct investment business.<br></br>
      The Portfolio Manager Consultancy Ltd accepts no responsibility for loss that may arise from accessing or reliance on information contained in this site.<br></br>
      Portfolio Manager Consultancy Ltd is not responsible for the content of external internet sites that link to this site or are linked from it.<br></br>
      Users are permitted to read the contents of the Website and make copies for their own personal use. They may also give copies (in paper or electronic form) of reasonable extracts on an occasional basis free of charge to colleagues and clients for their personal use, on terms that (i) Portfolio Manager Consultancy Ltd. is acknowledged as the source, (ii) the text is not altered in any way and (iii) the attention of recipients is drawn to this disclaimer. All other use and copying of any of the contents of this site, whether directly or by means of a hypertext link, is prohibited unless the prior written consent of Portfolio Manager Consultancy Ltd. is obtained.<br></br>
      This Website is intended only for use by users domiciled in the United Kingdom, and is not for distribution to, or use by, any person or entity in any jurisdiction where such distribution or use would be contrary to any law or regulation or which would subject Portfolio Manager Consultancy Ltd. to any regulatory requirements in such jurisdiction<br></br>
      <strong>Risk warning</strong><br></br>
      Past performance is no guarantee of future results and the value of such investments and their strategies may fall as well as rise.  You may not get back your initial investment. Capital security is not guaranteed.
      <br></br>
      The information provided does not constitute investment advice and should note be relied on as such.  It should not be considered a solicitation to buy or an offer to sell a security.  It does not take into account any investor’s particular investment objectives, strategies, tax status or investment horizon.<br></br>
      The opinions expressed are based on current market conditions and are subject to change. The portfolio may invest in assets which are not readily realisable or where there is counterparty risk.<br></br>
​       <strong>Contact information</strong><br></br>
      If you have any questions in relation to this policy, please contact info@pmclconsulting.com
      </p>
    </div>
  </div>
</div>

