<div class="wrapper">
	<div class="page-content">
		<div class="whatwedo-section">
			<h2>What We Do</h2>
			<div class="whatwedo-paras">
				<div class="whatwedo-para whatwedo-para-first">
					<h5>INVESTMENT POLICY<hr></h5>
					<p>We see investment policy as a cornerstone of effective investment management and successful relationships with fund managers. We review investment policy and ensure it is truly aligned with a charity’s investment goals and objectives. 
					<br></br>
					We work with trustees to understand short-term and long-term funding needs and investment objectives. We assess charity investment risks and develop a most suitable approach to managing these risks. 
					<br></br>
					We develop our recommendations on strategic asset allocation, risk policy, investment targets, benchmarks and criteria to assess fund manager performance. We also consider ethical and other constraints to investments and advise on the ways to incorporate these without compromising on investment performance.
					</p>
				</div>
				<div class="whatwedo-para whatwedo-para-second">
					<h5>FUND MANAGER REVIEW & MONITORING<hr></h5>
					<p>We assist charities in monitoring of their investment management and conduct regular reviews of fund manager service and investment performance. We provide consolidated reporting where portfolios are managed by several fund managers. 
					<br></br>
					We perform a thorough and detailed analysis of charity portfolios, concentrating on the levels of returns and volatility compared to the targets and benchmarks set out in the charity investment policy document. We also compare investment returns, manager service and fees to the industry best practices to ensure that our clients achieve the best performance from their fund managers. 
					<br></br>
					We interview fund managers on behalf of charity trustees and provide a full assessment report, either on a quarterly, half yearly or annual basis. The report includes a full and objective analysis of a charity’s investment management arrangements, highlighting areas of strong performance, as well as drawing attention to any shortcomings. We discuss such areas of concern with the trustees and endeavour to rectify these areas by meeting the managers on the trustees’ behalf.  
					</p>
				</div>
				<div class="whatwedo-para whatwedo-para-last">
					<h5>CONDUCTING MANAGER SELECTION<hr></h5>
					<p>We assist charity trustees on assessing their fund manager arrangements as a part of regular monitoring or bespoke projects. Where trustees come to a decision to intervene and change their fund managers, we will carry out a beauty parade of suitable managers with the view to finding a replacement. 
					<br></br>
					The process would be to approach a number of suitable managers based on client’s preferences and our suggestions to create a long list of potential managers. We work with the trustees to develop a request for proposal (RFP) that would address a charity’s specific investment goals. 
					<br></br>
					We then interview the managers on behalf of the trustees and provide our summary report that would highlight areas of concern and merit and then create a short list of managers. We construct a composite benchmark and co-ordinate the beauty parade of normally four candidates. </p>
				</div>
			</div>
		</div>
	</div>
</div>