.banner {
  background-image: url("https://res.cloudinary.com/dqxvcdy6w/image/upload/v1572947780/PMCL_Banner_olpix1.png");
  color: white;
  text-align: center;
  height: 200px;
  max-width: 100%;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 70px;
}
.banner-content {  
  padding-right: 60px;
  padding-left: 60px;
	h3 {
		font-size: 16px;
    letter-spacing: 2px;
	}
  span {
    color: #E54A35;
  }
}
.logo-big {
  height: 23px;
}
.logo-small {
  height: 64px;
}
@media only screen and (max-width: 452px) {
  .banner {
     margin: 34px 0 0 0;
     height: 25vh;
     h1 {
      display: none;
     }
  }
  .logo-small {
    height: 40px;
    margin-top: 22px;
  }
}