.cookies-eu-content-holder {
  position: fixed;
  background-color: #F7F7F7;
  bottom: 14px;
  right: 10px;
  width: 250px;
  height: 152px;
  padding: 12px;
  border: 0;
  color: #582a60;
  z-index: 10001;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6em;
  button {

}
}

.ok-button {
  position: fixed;
  right: 30px;
  bottom: 17px;
  color: black;
  z-index: 10001;
  border: 0;
  background-color: #F7F7F7;
}


.learn-more-button {
  position: fixed;
  bottom: 10px;
   right: 100px;
}

.translation_missing {
  font-size: 13px;

}
